<div>
  <h2 id="page-heading" data-cy="DispositivoHeading">
    <span jhiTranslate="negocioApp.dispositivo.home.title">Dispositivos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="negocioApp.dispositivo.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dispositivo"
        [routerLink]="['/dispositivo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="negocioApp.dispositivo.home.createLabel"> Create a new Dispositivo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dispositivos?.length === 0">
    <span jhiTranslate="negocioApp.dispositivo.home.notFound">No Dispositivos found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dispositivos && dispositivos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codigo">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.dispositivo.codigo">Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.dispositivo.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.dispositivo.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precioBase">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.dispositivo.precioBase">Precio Base</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="moneda">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.dispositivo.moneda">Moneda</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let dispositivo of dispositivos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dispositivo', dispositivo.id, 'view']">{{ dispositivo.id }}</a>
          </td>
          <td>{{ dispositivo.codigo }}</td>
          <td>{{ dispositivo.nombre }}</td>
          <td>{{ dispositivo.descripcion }}</td>
          <td>{{ dispositivo.precioBase }}</td>
          <td>{{ dispositivo.moneda }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dispositivo', dispositivo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dispositivo', dispositivo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dispositivo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
