<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venta-heading" data-cy="VentaCreateUpdateHeading" jhiTranslate="negocioApp.venta.home.createOrEditLabel">
        Create or edit a Venta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.idDispositivo" for="field_idDispositivo">Id Dispositivo</label>
          <input
            type="number"
            class="form-control"
            name="idDispositivo"
            id="field_idDispositivo"
            data-cy="idDispositivo"
            formControlName="idDispositivo"
          />
          <div
            *ngIf="
              editForm.get('idDispositivo')!.invalid && (editForm.get('idDispositivo')!.dirty || editForm.get('idDispositivo')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idDispositivo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idDispositivo')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.codigo" for="field_codigo">Codigo</label>
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          <div *ngIf="editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('codigo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.precioBase" for="field_precioBase">Precio Base</label>
          <input
            type="number"
            class="form-control"
            name="precioBase"
            id="field_precioBase"
            data-cy="precioBase"
            formControlName="precioBase"
          />
          <div *ngIf="editForm.get('precioBase')!.invalid && (editForm.get('precioBase')!.dirty || editForm.get('precioBase')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioBase')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('precioBase')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.moneda" for="field_moneda">Moneda</label>
          <input type="text" class="form-control" name="moneda" id="field_moneda" data-cy="moneda" formControlName="moneda" />
          <div *ngIf="editForm.get('moneda')!.invalid && (editForm.get('moneda')!.dirty || editForm.get('moneda')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('moneda')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.fechaVenta" for="field_fechaVenta">Fecha Venta</label>
          <div class="d-flex">
            <input
              id="field_fechaVenta"
              data-cy="fechaVenta"
              type="datetime-local"
              class="form-control"
              name="fechaVenta"
              formControlName="fechaVenta"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fechaVenta')!.invalid && (editForm.get('fechaVenta')!.dirty || editForm.get('fechaVenta')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaVenta')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fechaVenta')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="negocioApp.venta.precioFinal" for="field_precioFinal">Precio Final</label>
          <input
            type="number"
            class="form-control"
            name="precioFinal"
            id="field_precioFinal"
            data-cy="precioFinal"
            formControlName="precioFinal"
          />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="negocioApp.venta.adicionales" for="field_adicionales">Adicionales</label>
          <select
            class="form-control"
            id="field_adicionales"
            data-cy="adicionales"
            multiple
            name="adicionales"
            formControlName="adicionales"
            [compareWith]="compareAdicional"
          >
            <option [ngValue]="adicionalOption" *ngFor="let adicionalOption of adicionalsSharedCollection">{{ adicionalOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="negocioApp.venta.caracteristicas" for="field_caracteristicas">Caracteristicas</label>
          <select
            class="form-control"
            id="field_caracteristicas"
            data-cy="caracteristicas"
            multiple
            name="caracteristicas"
            formControlName="caracteristicas"
            [compareWith]="compareCaracteristica"
          >
            <option [ngValue]="caracteristicaOption" *ngFor="let caracteristicaOption of caracteristicasSharedCollection">
              {{ caracteristicaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
