<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="adicional">
      <h2 data-cy="adicionalDetailsHeading"><span jhiTranslate="negocioApp.adicional.detail.title">Adicional</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ adicional.id }}</span>
        </dd>
        <dt><span jhiTranslate="negocioApp.adicional.nombre">Nombre</span></dt>
        <dd>
          <span>{{ adicional.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="negocioApp.adicional.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ adicional.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="negocioApp.adicional.precio">Precio</span></dt>
        <dd>
          <span>{{ adicional.precio }}</span>
        </dd>
        <dt><span jhiTranslate="negocioApp.adicional.precioGratis">Precio Gratis</span></dt>
        <dd>
          <span>{{ adicional.precioGratis }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/adicional', adicional.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
