<div>
  <h2 id="page-heading" data-cy="VentaHeading">
    <span jhiTranslate="negocioApp.venta.home.title">Ventas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="negocioApp.venta.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-venta"
        [routerLink]="['/venta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="negocioApp.venta.home.createLabel"> Create a new Venta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ventas?.length === 0">
    <span jhiTranslate="negocioApp.venta.home.notFound">No Ventas found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ventas && ventas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idDispositivo">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.idDispositivo">Id Dispositivo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codigo">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.codigo">Codigo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precioBase">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.precioBase">Precio Base</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="moneda">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.moneda">Moneda</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaVenta">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.fechaVenta">Fecha Venta</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precioFinal">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.venta.precioFinal">Precio Final</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let venta of ventas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/venta', venta.id, 'view']">{{ venta.id }}</a>
          </td>
          <td>{{ venta.idDispositivo }}</td>
          <td>{{ venta.codigo }}</td>
          <td>{{ venta.nombre }}</td>
          <td>{{ venta.descripcion }}</td>
          <td>{{ venta.precioBase }}</td>
          <td>{{ venta.moneda }}</td>
          <td>{{ venta.fechaVenta | formatMediumDatetime }}</td>
          <td>{{ venta.precioFinal }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/venta', venta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(venta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
