<div>
  <h2 id="page-heading" data-cy="VentaPersonalizacionOpcionHeading">
    <span jhiTranslate="negocioApp.ventaPersonalizacionOpcion.home.title">Venta Personalizacion Opcions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="negocioApp.ventaPersonalizacionOpcion.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-venta-personalizacion-opcion"
        [routerLink]="['/venta-personalizacion-opcion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="negocioApp.ventaPersonalizacionOpcion.home.createLabel"> Create a new Venta Personalizacion Opcion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ventaPersonalizacionOpcions?.length === 0">
    <span jhiTranslate="negocioApp.ventaPersonalizacionOpcion.home.notFound">No Venta Personalizacion Opcions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ventaPersonalizacionOpcions && ventaPersonalizacionOpcions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="opcion.id">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.ventaPersonalizacionOpcion.opcion">Opcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="personalizacion.id">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.ventaPersonalizacionOpcion.personalizacion">Personalizacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="venta.id">
            <div class="d-flex">
              <span jhiTranslate="negocioApp.ventaPersonalizacionOpcion.venta">Venta</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let ventaPersonalizacionOpcion of ventaPersonalizacionOpcions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/venta-personalizacion-opcion', ventaPersonalizacionOpcion.id, 'view']">{{
              ventaPersonalizacionOpcion.id
            }}</a>
          </td>
          <td>
            <div *ngIf="ventaPersonalizacionOpcion.opcion">
              <a [routerLink]="['/opcion', ventaPersonalizacionOpcion.opcion.id, 'view']">{{ ventaPersonalizacionOpcion.opcion.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ventaPersonalizacionOpcion.personalizacion">
              <a [routerLink]="['/personalizacion', ventaPersonalizacionOpcion.personalizacion.id, 'view']">{{
                ventaPersonalizacionOpcion.personalizacion.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ventaPersonalizacionOpcion.venta">
              <a [routerLink]="['/venta', ventaPersonalizacionOpcion.venta.id, 'view']">{{ ventaPersonalizacionOpcion.venta.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/venta-personalizacion-opcion', ventaPersonalizacionOpcion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/venta-personalizacion-opcion', ventaPersonalizacionOpcion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ventaPersonalizacionOpcion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
